00 - Base/Solution.Database/obj
00 - Base/Solution.DesktopApp/bin
00 - Base/Solution.ValidationLibrary/bin
00 - Base/Solution.DesktopApp/obj
00 - Base/Solution.ValidationLibrary/obj
00 - Base/.vs
00 - Base/.vs
00 - Base/Solution.Core/obj
00 - Base/Solution.Core/bin
00 - Base/Solution.Databse/bin
00 - Base/Solution.Databse/obj
00 - Base/Solution.Services/bin
00 - Base/Solution.Services/obj
00 - Base/Solution.Database/bin
01 - SimpleMovieApp/.vs
01 - SimpleMovieApp/Solution.Core/bin
01 - SimpleMovieApp/Solution.Core/obj
01 - SimpleMovieApp/Solution.Database/obj
01 - SimpleMovieApp/Solution.DesktopApp/bin
01 - SimpleMovieApp/Solution.Database/bin
01 - SimpleMovieApp/Solution.DesktopApp/obj
01 - SimpleMovieApp/Solution.Services/bin
01 - SimpleMovieApp/Solution.ValidationLibrary/bin
01 - SimpleMovieApp/Solution.Services/obj
01 - SimpleMovieApp/Solution.ValidationLibrary/obj
00 - Base/Solution.PdfGenerator/obj
03 - Running/Solution.Core/bin
03 - Running/Solution.DataBase/bin
03 - Running/Solution.DesktopApp/bin
03 - Running/Solution.PdfGenerator/bin
03 - Running/Solution.Services/bin
03 - Running/Solution.ValidationLibrary/bin
03 - Running/Solution.Services/obj
03 - Running/Solution.ValidationLibrary/obj
03 - Running/Solution.Core/obj
03 - Running/Solution.DataBase/obj
03 - Running/Solution.DesktopApp/obj
03 - Running/Solution.PdfGenerator/obj
