00 - Base/Solution.Database/obj
00 - Base/Solution.DesktopApp/bin
00 - Base/Solution.ValidationLibrary/bin
00 - Base/Solution.DesktopApp/obj
00 - Base/Solution.ValidationLibrary/obj
00 - Base/.vs
00 - Base/.vs
00 - Base/Solution.Core/obj
00 - Base/Solution.Core/bin
00 - Base/Solution.Databse/bin
00 - Base/Solution.Databse/obj
00 - Base/Solution.Services/bin
00 - Base/Solution.Services/obj
00 - Base/Solution.Database/bin
01 - SimpleMovieApp/.vs
01 - SimpleMovieApp/Solution.Core/bin
01 - SimpleMovieApp/Solution.Core/obj
01 - SimpleMovieApp/Solution.Database/obj
01 - SimpleMovieApp/Solution.DesktopApp/bin
01 - SimpleMovieApp/Solution.Database/bin
01 - SimpleMovieApp/Solution.DesktopApp/obj
01 - SimpleMovieApp/Solution.Services/bin
01 - SimpleMovieApp/Solution.ValidationLibrary/bin
01 - SimpleMovieApp/Solution.Services/obj
01 - SimpleMovieApp/Solution.ValidationLibrary/obj
00 - Base/Solution.PdfGenerator/obj
03 - Running/Solution.Core/bin
03 - Running/Solution.DataBase/bin
03 - Running/Solution.DesktopApp/bin
03 - Running/Solution.PdfGenerator/bin
03 - Running/Solution.Services/bin
03 - Running/Solution.ValidationLibrary/bin
03 - Running/Solution.Services/obj
03 - Running/Solution.ValidationLibrary/obj
03 - Running/Solution.Core/obj
03 - Running/Solution.DataBase/obj
03 - Running/Solution.DesktopApp/obj
03 - Running/Solution.PdfGenerator/obj
04 - Motorcycles/.vs
04 - Motorcycles/Solution.Core/bin
04 - Motorcycles/Solution.Core/GlobalUsings.cs
04 - Motorcycles/Solution.Core/obj
04 - Motorcycles/Solution.DataBase/bin
04 - Motorcycles/Solution.DataBase/obj
04 - Motorcycles/Solution.DesktopApp/bin
02 - Running/.vs
02 - Running/Solution.ValidationLibrary/obj
02 - Running/Solution.ValidationLibrary/bin
02 - Running/Solution.Services/obj
02 - Running/Solution.Services/bin
02 - Running/Solution.Core/bin
02 - Running/Solution.Core/obj
02 - Running/Solution.DataBase/bin
02 - Running/Solution.DesktopApp/bin
02 - Running/Solution.PdfGenerator/bin
02 - Running/Solution.PdfGenerator/obj
03 - Motorcycles/.vs
03 - Motorcycles/Solution.ValidationLibrary/obj
03 - Motorcycles/Solution.ValidationLibrary/bin
03 - Motorcycles/Solution.Core/bin
03 - Motorcycles/Solution.Core/obj
03 - Motorcycles/Solution.DataBase/bin
03 - Motorcycles/Solution.DesktopApp/bin
03 - Motorcycles/Solution.PdfGenerator/bin/Debug/net9.0/.playwright/package/bin
03 - Motorcycles/Solution.PdfGenerator/bin
03 - Motorcycles/Solution.Services/bin
03 - Running/.vs
03 - Running/.vs
03 - Motorcycles/Solution.DesktopApp/obj
03 - Motorcycles/Solution.DataBase/obj
03 - Motorcycles/Solution.PdfGenerator/obj
03 - Motorcycles/Solution.Services/obj
03 - Motorcycles/Solution.Validators/bin
03 - Motorcycles/Solution.Api/bin
03 - Motorcycles/Solution.Api/obj
03 - Motorcycles/Solution.Validators/obj
04 - Albums/.vs
04 - Albums/Solution.Validators/obj
04 - Albums/Solution.Validators/bin
04 - Albums/Solution.Services/obj
04 - Albums/Solution.Services/bin
04 - Albums/Solution.PdfGenerator/obj
04 - Albums/Solution.Api/bin
04 - Albums/Solution.Core/bin
04 - Albums/Solution.DataBase/bin
04 - Albums/Solution.DataBase/obj
04 - Albums/Solution.Core/obj
04 - Albums/Solution.DesktopApp/bin
04 - Albums/Solution.PdfGenerator/bin
04 - Albums/Solution.DesktopApp/obj
/04 - Albums/Solution.Api/obj
05 - Bills/Bills/.vs
05 - Bills/Bills/Bills.Api/bin
05 - Bills/Bills/Bills.Api/obj
05 - Bills/Bills/Bills.Core/bin
05 - Bills/Bills/Bills.Database/bin
05 - Bills/Bills/Bills.Database/obj
05 - Bills/Bills/Bills.DesktopApp/bin
05 - Bills/Bills/Bills.Core/obj
05 - Bills/Bills/Bills.DesktopApp/obj
03 - Motorcycles - regi/.vs
03 - Motorcycles - regi/Solution.ValidationLibrary/obj
03 - Motorcycles - regi/Solution.Core/obj
03 - Motorcycles - regi/.vs
03 - Motorcycles - regi/Solution.DataBase/obj
03 - Motorcycles - regi/Solution.DesktopApp/obj
03 - Motorcycles - regi/Solution.PdfGenerator/obj
03 - Motorcycles - regi/Solution.Services/obj
05 - Bills/Bills/Bills.Services/obj
03 - Motorcycles - regi/.vs
