00 - Base/Solution.Database/obj
00 - Base/Solution.DesktopApp/bin
00 - Base/Solution.ValidationLibrary/bin
00 - Base/Solution.DesktopApp/obj
00 - Base/Solution.ValidationLibrary/obj
00 - Base/.vs
00 - Base/.vs
00 - Base/Solution.Core/obj
00 - Base/Solution.Core/bin
00 - Base/Solution.Databse/bin
00 - Base/Solution.Databse/obj
00 - Base/Solution.Services/bin
00 - Base/Solution.Services/obj
